@media only screen and (min-width: 32.5em) {
	body {
		background-color: #78BF91;
	}
	
	header img {
		width: 100px;
	}
	.headings h1 {
		font-size: 3rem;
		color: #D9D0D6;
	}
	h2 {
		font-size: 1.5rem;
		color: #D9D0D6;
		text-align: center;
	}
	h3 {
		font-size: 1.5rem;
		color: #D9D0D6;
		text-align: center;
	}
	.m {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
    }
    #newNav {
		display: flex;
		
	}
   	#newNav li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
		
	}
	#newNav a {
		text-align: center;
		color: #0D0D0D;
		font-size: 1.2rem;
	}
	#newNav li:first-child {
		display: none;
	}
	.herodiv {
		position: relative;
		margin: 10px auto;
       	width: 960px;
		height: 300px;
	}
   	.herodiv {
		position: relative;
		margin: 10px auto;
		width: 100%;
		height: 450px;
		background-color: #3CA661;
		box-shadow: 0 0 30px #111;
		
	    }

	.weathersummary {
		position: absolute;
		top: 400px;
		left: 300px;
		background: #FFF2F1;
		border: 1px solid black;
		padding: .5rem;
		box-shadow: 0 0 30px #111;
		opacity: .8;
		color: #000;
		}
    #preston-heading{
        font-family: "fair display";
        text-align: center;
        font-size: 2.3em;
        color:#be66ab;
    }
    #forecast-section{
        position: relative;
        margin: auto;
        display:flex;
        flex-direction: row;
        max-width: 800px;
    }
.navigation li:first-child{
    display: none;
}
.forecast{
    padding:10px;
}
.forcast-days{
   padding-bottom:5px;
   margin:3px;
}
div{
    padding:5px;
}
.sun-icon{
    display: flex;
    justify-content: center;
}
#map-img{
    float:right;
    width:150px;
    margin-top:40px;
    margin-right:40px;
}
picture{
    width:100%;
	position: absolute;
	right: 300px;
	top: 15px;
}
#menu{ display: none;
}

#preston-article {
	display:grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-top: 0px;
	
    
}
#contact-section {
    display:grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-top: 0px;
	
    
}