body {
    background-color: #B8ECD7;
}
header, nav {
	font-size: 14px;
	font-family: 'Glegoo', serif;
}
main, footer {
    font-family: 'Glegoo', serif;
}
header,
main,
footer {
	max-width: 960px;
    margin: 0 auto;
}
 nav {
	margin: 0 auto;
	max-width: 960px;
	background-color: #083643;
	color: #B1E001;
}
nav li:hover{
	background-color: #476C5E;
    color: #B1E001;
}
nav li:focus{
    text-decoration: underline;
    background-color: #083643;
    color: #B1E001;
}
nav ul.hide {display: none;}

#newNav {
    list-style: none;
    text-align: center;
	padding: 15;
}
#menu{
    margin: 0 auto;
	max-width: 960px;
	background-color: #083643;
    display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: #B1E001;
	font-weight: 700;
}
.navigation a
 {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: #B1E001;
	font-weight: 700;
}
.navigation a:hover {
	color: #083643;
	background-color: #B1E001;
}
.responsive li {
	display: block;
}
.active {
	color: #476C5E;
}

	body {
	padding: 0;
	margin: 0;
	background-color:#B8ECD7;
}

header, footer {
	background-color: #083643;
	padding: 5px 0;
	display: flexbox;
	align-items:center;
	justify-content:center;
	text-align: center;
}

header img {
	width: 80px;
	height: auto;
}

.headings{
    display:flex;
    flex-direction: column;
    
}

.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 17px;
	color:#B1E001;
}

.m {
	font-style: italic;
	letter-spacing: 1pt;
	color: #B1E001;
	margin-left: 20px;
	font-size: .9rem;
}
.contentbox {
	display:block;
	margin: 10px auto;
	border: 1px dashed #476C5E;
	padding: 15px;
	background-color: #083643;
	color: #476C5E;
}
h1{
    text-align:center;
    font-size: 1.6rem;
	color:#083643;
}
h2 {text-align: center;
	color:#083643;
	font-size: 1rem;
}

h3{
    text-align:center;
    font-size: 1rem;
	color:#083643;
}

.herodiv {
	position: relative;
	margin: 20px auto;
	width: 400px;
	border-style:double;
	background-color: #083643;
}	
.hero-ph {
	margin: 10px auto;
	border: 1px solid #476C5E;
	width: 100%;
	height: 110px;
}
main img {
	max-width: 100%;
	border: #476C5E;
}

p {
    padding: 0;
	letter-spacing: 0.05rem;
	line-height: 1;
	color: #476C5E;
}


.cards img  {
	width:350px;
	height:250px;
	border-radius:9px;
  
}
p {
    padding: 0;
	letter-spacing: 0.05rem;
	line-height: 1;
}

    #preston-heading{
        font-family: 'Glegoo', serif;
        text-align: center;
        font-size: 2.3em;
        color:#D9D0D6;
    }
    #forecast-section{
        position: relative;
        margin: auto;
        display:flexbox;
        flex-direction: row;
        max-width: 1000px;
    }
#preston-article{
    position: relative;
        margin: auto;
        flex-direction: row;
        max-width: 1000px;
}

#contact-section {
	display:grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	margin-top: 0px;
	background-color: #CEF09D;
	box-shadow: 0 0 30px #083643;
	}



