@import url('https://fonts.googleapis.com/css2?family=Almendra&family=Quicksand&display=swap');

body{
  margin: 100 auto;
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  font-family: 'Quicksand', sans-serif;
}
h1, h2 {
  font-family: 'Almendra', serif;
  color: #353B3C;
}
p {
  color: #EEF0F2;
  padding: 0 1rem 0 1rem;
}
h2 {
  color: #EEF0F2;
  padding-top: 1rem;
}
h1, h2, p{
  text-align: center;
}
.card {
  background-color: #846A6A;
}
.card img{
  display: block;
  margin: 0 auto 1rem auto;
  max-width: 200px;
}
img{
  box-shadow: 0 0 20px;
}

