header, nav {
	font-size: 14px;
	font-family: 'Glegoo', serif;
}
main, footer {
    font-family: 'Glegoo', serif;
}
header,
main,
footer {
	max-width: 960px;
    margin: 0 auto;
}
.headings h1 {
    font-size: 3rem;
}
 nav {
    font-size: 2rem;
	margin: 0 auto;
	max-width: 960px;
 	background-color: #77A612;
}
nav li:hover{
    background-color: #172601;
    color: white;
}
nav li:focus{
    text-decoration: underline;
    background-color: #F0ebd8;
    color: beige;
}
nav ul.hide {display: none;}

header {
    background-color: #77A612;
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
	text-align: center;
}
header img {
	width: 100px;
	height: auto;

}
header, nav {
	font-size: 18px;
	font-family: 'Glegoo', serif;
}


#newNav {
    display: flex;
}
#newNav li {
    display: block; 
    flex: 1 1 100%;
}
#newNav a {
    text-align: center;
}
#newNav li:first-child {
    display: none;
}

.navigation a
 {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: white;
	font-weight: 700;
}
.navigation a:hover {
	color: #77A612;
	background-color: #FFF2F1;
}
.responsive li {
	display: block;
}
.active {
	color: #77A612;
}

header, footer {
	background-color: #77A612;
	padding: 5px 0;
	display: flexbox;
	align-items:center;
	justify-content:center;
	text-align: center;
}
form {
    display: table;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
      
        
}

div.form-group {
    display: table-row;
    
   
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
   
}

label {
    padding-right: 10px;
    width: 100px;
    margin-left: 100px;
    margin-right: 100px;
      
    
}
.alert {
    align-items:center;
	justify-content:center;
	text-align: center;
    padding: 20px 0;
	display: flexbox;

}
.btn {
    padding: 20px 0;
    border-radius: 20px;
  padding: 10px 50px;
  margin: 10px;
  text-decoration: none;
  width: 200px;
    margin-left: 450px;
    margin-right: 100px;
    color:midnightblue;
	}
