
body {
    background-color: #78BF91;
    padding: 0;
	margin: 0;
}header, nav {
	font-size: 14px;
	font-family: 'Glegoo', serif;
  
}
main, footer {
    font-family: 'Glegoo', serif;
}
header,
main,
footer {
	max-width: 960px;
    margin: 0 auto;
}
.headings h1 {
    font-size: 3rem;
}
nav {
	margin: 0 auto;
	max-width: 960px;
	background-color: #3CA661;
	color: #D9D0D6
}
nav li:hover{
    background-color: #78BF91;
    color: #D9D0D6;
}
nav li:focus{
    text-decoration: underline;
    background-color: #78BF91;
    color: #D9D0D6;
}
nav ul.hide {display: none;}
#newNav {
    list-style: none;
    text-align: center;
	padding: 15px;
}
#menu{
    margin: 0 auto;
	max-width: 960px;
	background-color: #3CA661;
    display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: #D9D0D6;
	font-weight: 700;
}
.navigation a
 {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: #D9D0D6;
	font-weight: 700;
}
.navigation a:hover {
	color: #3CA661;
	background-color: #78BF91;
}
.responsive li {
	display: block;
}
.active {
	color: #78BF91;
}

header, footer {
	background-color: #3CA661;
	padding: 5px 0;
	display: flexbox;
	align-items:center;
	justify-content:center;
	text-align: center;
}
header img {
	width: 100px;
	height: auto;

}

#newNav {
    display: flex;
}
#newNav li {
    display: block; 
    flex: 1 1 100%;
}
#newNav a {
    text-align: center;
}
#newNav li:first-child {
    display: none;
}

.navigation a
 {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: #D9D0D6;
	font-weight: 700;
}
.navigation a:hover {
	color: #3CA661;
	background-color: #919191;
}
.responsive li {
	display: block;
}
.active {
	color: #78BF91;
}


form {
    display: table;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: #D9D0D6;
      
        
}

div.form-group {
    display: table-row;
    
   
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
   
}

label {
    padding-right: 10px;
    width: 100px;
    margin-left: 100px;
    margin-right: 100px;
      
    
}
.alert {
    align-items:center;
	justify-content:center;
	text-align: center;
    padding: 20px 0;
	display: flexbox;

}
.btn {
    padding: 20px 0;
    border-radius: 20px;
    padding: 10px 50px;
    margin: 10px;
    text-decoration: none;
    width: 200px;
    margin-left: 450px;
    margin-right: 100px;
    color:midnightblue;
	}
h1 {
    color:#D9D0D6;
}