@charset "utf-8";
*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body{
  background-color: #8C3D35;
  margin: 0px;
  padding: 0px;
  font-family: 'Glegoo', serif;

}

/*resposnive menu*/
.menu {
  background-color: #402124;
  height: 75px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F2EAD0;
  box-shadow: 5px 0 10px #8C7B46;
}
.menu_items {
  display: flex;
  list-style: none;
  margin-right: 30px;

}
.menu_items li {
  border-radius: 3px;
  margin:0 5px;
}

.menu_items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display:block;
  text-transform: uppercase;
  color: #F2EAD0;
  }

.menu_items li:hover, li :active {
  background-color:#A65656;
  transition: 4s;
}
.btn_menu {
  margin-right: 30px;
  font-size:25px;
  color: white;
  cursor: pointer;
  display: none;
}
ul.show {
  top: 65px;
}

@media screen and (max-width: 952px) {
  .logo{
    font-size: 30px;
    padding-left: 35px;  
}
.menu_items li a {
  font-size: 16px;
}
}
@media screen and (max-width: 858px) {
  .menu {
    height: 65px;
  }
  .btn_menu {
    display: inline-flex;
  }
  .menu_items {
    position: fixed;width: 100vw;
    height: calc(100% - 65px);
    background: #402124;
    top: -100vh;
    text-align: center;
    transition: all .4s;
    flex-direction: column;
  }
  .menu_items li {
    margin: 30px 0 0 0;
    line-height: 30px;
  }
  .menu_items li:hover {
    background: none;
  }
  .menu_items li a {
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
  .menu-items li a:hover {
    color: #402124;
  }
  .logo {
    font-size: 25px;
    padding-left: 35px;
  }
}
@media screen  and (max-width:858px) and (orientation: landscape) {
  .menu_items li {
    margin: 5px 0 0 0;
  }
  .menu_items  {
    overflow: scroll;
    height: calc(100% - 65px);
  }
}
/* general*/ 
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 300px;
  color: white;
}
  h1 {
    font-size: 1rem;
    margin: 0;   
  }
  
  h2 {
    margin: 0;  
    font-size: 2rem;
  }

.container {
  width: 90%;
  margin: 0 auto;
}

.directory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 24px;
  grid-auto-flow: dense;  
}

.contact {
  background-color: #F2EAD0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  border-radius: 2px;
  border: 1px solid #402124;
  padding: 24px; 
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}

.portrait {
   max-width: 100px;
   border-radius: 50px;
}

.information {
  text-align: right;
  align-self: center;
}
  
p {
    font-weight: 300;
    margin: 0;
  }
}

.media {
  grid-row: auto / span 2;
  margin: 0 auto;
}


/*footer*/
#section2.footer {
  position: relative;
  font-family: 'Glegoo', serif;
  padding: 5px;
}
.footer__content{
 padding: 25px;
 text-align: center;
 color: #F2EAD0;
 background-color: #402124;

}

.footer__heading{
  position: relative;
  
}
.footer__content p {
  font-size: 12px;
  font-weight: 100;
  padding: 10px 0px;
 }
ul.social__media{
  margin:0;
  padding: 0;
  display: inline-block;
  margin-top: 15px;
}
ul.social__media li{
 list-style-type:none;
 display:inline-block;
 margin-right: 15px;
}
ul.social__media li a {
  color: #402124;
  font-size: 20px;
}
ul.social__media li {

  text-align: center;
  height: 45px;
  width: 45px;
  border-radius: 50px;
  background-color: #c5bca2;
  line-height: 40px;
  border: 2px solid #545d5d;
  box-shadow: 0px 1px #F2EAD0;
  box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.55), 0 0px 20px 0px rgba(0, 0, 0, 0.55);
}

ul.bus__list{
  padding: 0;
  margin: 0;
}

ul.bus__list li{
  list-style-type:none;
  margin-bottom: 5px;
}

a{
  color: #F2EAD0;}
  a:visited {color: white;}
a:hover {color: #A65656;}
}

